* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  
    background: linear-gradient(
    158deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  background-position: center center;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
